body{
    background-color: #fff;!important;
}
header{
    width: 100%;
    padding-top: 0.5rem;
    position: fixed;
    z-index: 2;
    top: 0%;
    border-bottom: 1px solid #eeeeee;
    padding-left:0.3rem;
    background-color: #fff;
}
header img{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    vertical-align: middle;
}
header:before{
    content:"";
    width: 0.8rem;
    height: 0.7rem;
    position: absolute;
    background: url("../img/search_03.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    left: 18%;
    top: 34%;
    z-index: 112;
}
header #search{
    background-color:#eee;
    position: relative;
    width: 73%;
    text-indent: 3em;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.24rem;
    border: none;
    border-radius: 5px;
    left: 3%;
}
nav{
    width: 100%;
    background-color: #fff;
    padding:0 0.3rem;
    padding-top: 1.7rem;
    padding-bottom: 0.3rem;
}
nav a{
    display: inline-block;
    width: 30%;
    color:#5f321a;
    font-size: 0.3rem;
    height: 0.6rem;
    padding-top: 0.2rem;
    text-align: center;
    line-height: 0.6rem;
}
nav .active{
    color:#51c1e0;
}
nav .active span{
border-bottom: 2px solid #51c1e0;
}
/*#slider{
    margin-top: 0.2rem;
}*/
.nav{
    width: 100%;
    margin-top: 0.5rem;
    padding:0 0.3rem;
    
}
.nav a{
    width: 25%;
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
}
.nav a span{
    font-size:0.3rem ;
    color:#333;
}
.nav .active span{
    border-bottom: 2px solid #333;
}
/* ��Ʒ*/
.market_news_list{
    padding: 0.3rem;
}
.goods .top{
    width: 100%;
    position: relative;
    height: 1rem;

}
.market_news_list .top img{
    width: 0.8rem;
    min-height: 0.8rem;
    border-radius: 50%;
    vertical-align: top;
    position: absolute;
    left: 3%;
    top: 0%;
}
.market_news_list .top span{
    position: absolute;
    left: 20%;
    top: 0%;
}
.market_news_list .goods{
    padding: 0.2rem 0;
    border-bottom: 2px solid #eee;
}
.market_news_list .top p{
    position: absolute;
    left: 20%;
    top: 40%;
    font-size: 0.20rem;
}
.goods>.center{
    width: 100%;
    padding-bottom: 0.2rem;
}
.center .price{
    color:red;
    font-size: 0.3rem;
    float: left;
}
.center span{
    display: inline-block;
    float: left;
    margin-left: 0.3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;

}
.img_list{
    width: 100%;
}
.img_list img{
    width: 31%;
    min-height: 1.5rem;
    max-height: 1.6rem;
    background-color: #333333;
    margin-right: 0.1rem;
}
.goods .see{
    font-size: 0.26rem;
    color:#999;
}
.market_news_list{
    padding-bottom: 1.2rem;
}
/*ҳ����ʽI������*/
footer li:first-of-type i{
    background-image: url("../img/news_no_active.png");
}
footer li:nth-of-type(4) i{
    background-image: url("../img/business_active.png");
    -webkit-background-size: 110%;
    background-size: 110%;
}
.mui-slider{
    /*padding-top: 0.2rem;*/
}
.no_pic{
    padding-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.32rem;
    color:#999;
}



