
body{
    background-color: #fff;
}
.mui-slider .mui-slider-group .mui-slider-item{
    min-height: 7rem;
    max-height: 7.5rem;
}
header{
    height: 1.3rem;
    width: 100%;
    padding-top: 0.5rem;
    position: absolute;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0);
}
header i{
    display: inline-block;
    width: 0.9rem;
    height:0.9rem;
    margin-left: 0.3rem;
    text-align: center;
    border-radius: 50%;
    background-color: #e2d9cb;
}
header i:before{
    content:"";
    width: 0.8rem;
    height:0.8rem;
    position: absolute;
    left: 6.5%;
    top: 42%;
    background-image: url("../img/left.png") ;
    background-position: 50% 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
}
header>del{
    position: absolute;
    right: 5%;
    top: 30%;
    width: 0.6rem;
    height: 1rem;
    background: url("../img/custom.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.goods_info{
    width: 100%;
    padding: 0 0.3rem;
    margin-top: 0.2rem;
}
.introduce{
    margin-bottom: 0.2rem;
    font-size: 0.3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    color:#333;
}
.price{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    color:#666;
}
.price>i{
    font-size: 0.5rem;
    color:#fe6430;
}
.price>em{
    font-size: 0.24rem;
}
.style{
    width: 100%;
    height: 1rem;
}
.style>ul{
    width: 100%;
    height: 100%;
}
.style>ul>li{
    float: left;
    height: 100%;
    line-height: 1rem;
    width: 33%;
    font-size: 0.24rem;
    color:#666;
}
.style>ul>li:nth-of-type(2){
    text-align: center;
}
.style>ul>li:nth-of-type(3){
    text-align: right;
}
.footer{
    position: fixed;
    bottom: 0;
    height: 1rem;
    background-color: #fff;
    width: 100%;
    line-height: 1rem;
    border-top: 1px solid #eeeeee;
}
.footer>ul{
    width: 60%;
    height: 100%;
}
.footer>ul>li{
    float: left;
    width: 32%;
    text-align: center;
}
.footer>ul>li em{
    width: 0.6rem;
    height: 1rem;
    display: inline-block;
    background:url("../img/five_star.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: -0.1rem;
    vertical-align: middle;
}
.footer>ul>li:nth-of-type(3) em{
    background-image: url("../img/submit.png");
    -webkit-background-size: 120%;
    background-size: 120%;
}
.footer>ul>li:nth-of-type(2) em{
    background-image: url("../img/businessShop.png");
    -webkit-background-size: 100%;
    background-size: 100%;
}
.footer>button{
    width: 40%;
    position: absolute ;
    right: 0%;
    top: 0;
    background: #5f321a;
    color:#fff;
    font-size: 0.36rem;
    height: 100%;
}
/*商品评价*/
.goods_shop{
    width: 100%;
    position: relative;
    border-top:0.2rem solid #eee;
    padding: 0.2rem 0 0.2rem 0.3rem;
}
.goods_shop img{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    vertical-align: middle;
}
.goods_shop .center{
    position: absolute;
    left: 1.5rem;
    top: 15%;
}
.goods_shop .center span{
    display: block;
    font-size: 0.36rem;
}
.goods_shop .right{
    width: 0.6rem;
    height: 0.8rem;
    position: absolute;
    right: 3%;
    top: 0%;
    background: url("../img/right_03.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.goods_comment{
    border-top:0.2rem solid #eee;
    border-bottom:0.2rem solid #eee;
}
.goods_comment .header{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    position: relative;
}
.goods_comment .header span{
    font-size: 0.36rem;
    padding-left: 0.3rem;
}
.goods_comment .header i{
    position: absolute;
    right: 3%;
    top: 0%;
    width: 0.6rem;
    height: 1rem;
    border: none;
    background: url("../img/right_03.png")no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.goods_comment_list{
    width: 100%;
    padding-top: 0.3rem;
}
.goods_list_header{
    width: 100%;
    position: relative;
}
.goods_list_header img{
    width: 0.6rem;
    height: 0.6rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 0.3rem;
}
.goods_list_header em{
    font-size: 0.32rem;
}
.goods_list_header del{
    position: absolute;
    right: 3%;
    top: 0%;
    color:#666;
}
.p_info{
    width: 100%;
    padding: 0.3rem;
}
.p_info>p{
    width: 100%;
    font-size: 0.28rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.p_info>img{
    margin-top: 0.3rem;
    width: 30%;
}
.goods_comment .all_comment{
    width: 50%;
    margin:0 auto;
    text-align: center;
    display: block;
    padding:0.2rem 0.3rem;
    border:1px solid #fba940;
    color:#fba940;
    border-radius: 20px;
    margin-bottom: 0.3rem;
}
.goodS_detail{
    width: 100%;
    padding: 0.3rem;
    padding-bottom: 1rem;
}
.goodS_detail p{
    height: 1rem;
    line-height: 1rem;

    font-size: 0.32rem;
}
.goodS_detail>img{
    width: 100%;
}