nav{
    width: 100%;
    padding-bottom: 0.3rem;
   /* border-bottom:4px solid #eee;*/
}
nav:last-of-type{
    padding-top: 0;
}
nav ul{
    width: 100%;
    overflow-x: hidden;
}
nav ul li{
    width: 24%;
    float: left;
    text-align: center;
}
nav ul li img{
    width: 90%;
    vertical-align: middle;
}
nav ul li span{
    display:block;
    text-align: center;
    margin-left: 0.2rem;
}
.shop,.like{
    width: 100%;
    padding:0 0.3rem;
    padding-bottom: 0.3rem;
}
.shop p{
    padding-top: 0.2rem;
}
.shop ul,.like ul{
    width: 100%;
}
.shop ul li{
    float: left;
    width: 25%;
}
.shop ul li a,.like ul li a{
    width: 100%;
    height: 100%;
    display: block;
    color:#333;
  
}
.shop ul li img,.like li a img{
    display: block;
    width: 80%;
    height: 1.5rem;
    margin-left: 0.1rem;
}
.shop ul li span{
    text-align: center;
}
.shop ul li span,.like li a span{
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 0.18rem;
}
.shop ul li .price i,.like li .price i{
    display: inline-block;
    color:red;
    font-size: 0.28rem;
}
.shop ul li .price em{
    text-decoration: line-through;
    font-size: 0.16rem;
}

/*����ϲ��*/
.like{
    padding: 0;
    padding-bottom: 1.2rem;
}
.like ul{
    padding:0 0.3rem;
}
.like p{
    background-color: #eee;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.36rem;
    color:#333;
}
.like li{
    float: left;
    width: 50%;
}
.like li a{
    display: block;
    width: 100%;

}
.like li a img{
    width: 90%;
    height: 2rem;
}
.like span{
    font-size: 0.28rem;
    padding:0.1rem 0;
}
.like li .price i{
    margin-left: 0.2rem;
}
.like li .price em{
    margin-left: 0.5rem;
}
/*
.like li .price{
    position: relative;
}
.like li .price i{
    position: absolute;
    left: 0%;
    width: 0.6rem;
    height: 0.6rem;
}
.like li .price em{
    position: absolute;
    right: 0%;
}*/
