#content_layer{
    overflow: auto;
}
#left{
    width: 80%;
    /*  height: 100%;*/
    color: #333;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    top: 0;
    z-index:12;
    display: none;
    /*   padding-left:8%;*/
   /* border-right: 2px solid rgba(0,0,0,0.1);*/
}

#layer{
    position:relative;
    left: 0;
    top: 0%;
}
/*#content_layer{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #fff;
}*/

#mask{
    width: 100%;
    height: 100%;
    opacity: 0.4; /*��͸��*/
    filter: alpha(opacity=40); /*ie 6��͸��*/
    background-color: black;
    position: fixed;
    z-index:11;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
}
#left{
    padding-top: 1rem;
}
#left>.header{
    width: 100%;
    padding: 0.2rem 0.3rem;
    position: relative;
    border-bottom: 0.2rem solid #eeeeee;
}
#left>.header img{
    width: 1rem;
    min-height: 1rem;
    border-radius: 50%;

}
#left>.header .center{
    position: absolute;
    left: 1.5rem;
    top: 20%;
}
#left>.header .center em{
    display: block;
    font-size: 0.34rem;
    color:#5f321a;
}
#left>.header .center span{
    color:#8f8985;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    margin-left: 0;
}

#left .scroll a{
    line-height: 0.8rem;
    height: 1.3rem;
    font-size: 0.3rem;
    border-bottom: 2px solid #eeeeee;
}
#left .scroll a i{
    width: 0.6rem;
    height: 0.6rem;
    padding:0.3rem;
    display: inline-block;
    background: url("../img/purse.png") no-repeat center;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #83cff1;
    -webkit-background-size:80%;
    background-size: 80%;
}
#left .scroll li:nth-of-type(2) a i{
    background-image:url("../img/scroll_left.png");
    background-color: #eb6b68;
}
#left .scroll li:nth-of-type(3) a i{
    background-image:url("../img/market.png");
    background-color: #9fd08a;
}
#left .scroll li:nth-of-type(4) a i{
    background-image:url("../img/market_left%20.png");
    background-color: #eb6b68;
}
#left .scroll li:nth-of-type(5) a i{
    background-image:url("../img/setting_left.png");
    background-color: #83cff1;
}
.mui-table-view-cell:after{
    background-color: #fff;
}
#left .scroll a:nth-of-type(n+5){
border:none;
}
.scroll{
    padding-bottom: 1rem;
}