<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>交易</title>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/mui.min.css"/>
    <link rel="stylesheet" href="../css/mui_img.css"/>
    <link rel="stylesheet" href="../css/sweetalert2.css"/>
    <link rel="stylesheet" href="../css/footer.css"/>
    <link rel="stylesheet" href="../css/business.css"/>
    <link rel="stylesheet" href="../css/slider_left.css"/>
    <style>
    .img_box{
        display: inline-block;
    }
        #loading{
            top:45%;
        }
    </style>
</head>
<body>
<div id="loading">
    <img src="../img/login.gif" alt=""/>
    <div>请等待，正在加载...</div>
</div>
<div id="content_layer">
    <!--侧滑部分-->
    <div id="left">
        <div class="header">
            <!--信息-->
           <!-- <img src="../img/focus-img1.png" alt="" onclick="location.href='./head.html'"/>
            <div class="center">
                <em>七月的雪</em>
                <span onclick="location.href='./simple_abstruct.html'">待到山花烂漫时，她在丛中笑待到山花烂漫时，她在丛中笑待到山花烂漫时，她在丛中笑</span>
            </div>-->
        </div>
        <ul class="scroll">
            <li class="mui-table-view-cell">
                <a href="./my_purse.html" class="mui-navigate-right"> <i></i>&nbsp;&nbsp;&nbsp;&nbsp;钱包</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="./my_post.html" class="mui-navigate-right"> <i></i>&nbsp;&nbsp;&nbsp;&nbsp;发布的帖子</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="./my_market.html" class="mui-navigate-right"> <i></i>&nbsp;&nbsp;&nbsp;&nbsp;市场中心</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="./my_employ.html" class="mui-navigate-right"> <i></i>&nbsp;&nbsp;&nbsp;&nbsp;应聘信息</a>
            </li>
            <li class="mui-table-view-cell">
                <a href="./seting.html" class="mui-navigate-right"> <i></i>&nbsp;&nbsp;&nbsp;&nbsp;设置</a>
            </li>
            <li class="mui-table-view-cell">
            </li>
            <li class="mui-table-view-cell">
            </li>
            <li class="mui-table-view-cell">
            </li>
            <li class="mui-table-view-cell">
            </li>
            <li class="mui-table-view-cell">
            </li>
            <li class="mui-table-view-cell">
            </li>
            <li class="mui-table-view-cell">
            </li>
            <li class="mui-table-view-cell">
            </li>
        </ul>
    </div>
    <div id="mask"></div>
    <div class="layer" id="layer">
        <header id="topbar">

            <div class="img_box" id="show">
                <!--填充 头像-->
                <img  src="../img/focus-img1.png">
            </div>
            <input type="text" id="search" onclick="location.href='./business_search.html'"/>
        </header>
        <nav>
            <a href="business.html" class="market active"> <span>二手市场</span></a>
            <a href="local_market.html" class="local_market"> <span>本地商户</span></a>
            <a href="student_market.html" class="student_market"> <span>学生商城</span></a>
        </nav>
        <div id="slider" class="mui-slider" >
            <div class="mui-slider-group mui-slider-loop">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="../img/2.jpg">
                    </a>
                </div>
                <!-- 第一张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="../img/2.jpg">
                    </a>
                </div>
                <!-- 第二张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="../img/2.jpg">
                    </a>
                </div>
                <!-- 第三张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="../img/2.jpg">
                    </a>
                </div>

                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="../img/2.jpg">
                    </a>
                </div>
            </div>
            <div class="mui-slider-indicator">
                <div class="mui-indicator mui-active"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
            </div>
        </div>
        <div class="nav">
            <a href="" class="see_around active">
                <span>看附近</span>
            </a>
            <!--<a href="business_market_buy_around.html" class="buy_around">
                <span>逛附近</span>
            </a>-->
        </div>
        <div class="market_news_list">
            <!--填充、-->

            <!--<div class="goods">
                <div class="top clearfix">
                    <img src="../img/focus-img1.png" alt=""/>
                    <span>阳光正好</span>
                    <p>郑州金水 | <em>29分钟前来过</em></p>
                </div>
                <div class="center clearfix" onclick="location.href='./business_detail.html'">
                    <em class="price">￥15</em>
                    <span>夏日斜跨小包包女2018新款潮韩版百搭时尚</span>
                </div>
                <div class="img_list">
                    <img src="../img/goods.png" data-preview-src="" data-preview-group="1" alt=""/>
                    <img src="../img/goods.png" data-preview-src="" data-preview-group="1" alt=""/>
                    <img src="../img/goods.png" data-preview-src="" data-preview-group="1" alt=""/>
                </div>
                <div class="see">浏览12</div>
            </div>-->

        </div>
        <footer>
            <ul class="clearfix">
                <li class="clearfix" onclick="location.href='./news.html'">
                    <i></i>
                    <em>资讯</em>
                </li>
                <li class="clearfix" onclick="location.href='./community.html'">
                    <i></i>
                    <em>社区</em>
                </li>
                <li class="clearfix" onclick="location.href='./publish.html'">
                    <i></i>

                </li>
                <li class="clearfix" onclick="location.href='./business.html'">
                    <i></i>
                    <em>交易</em>
                </li>
                <li class="clearfix" onclick="location.href='./work.html'">
                    <i></i>
                    <em>兼职</em>
                </li>
            </ul>
        </footer>
    </div>
</div>


</body>
<script src="../js/x_rem.js"></script>
<script src="../js/mui.min.js"></script>
<script src="../js/mui.zoom.js"></script>
<script src="../js/mui.preview.js"></script>

<script src="../js/jquery.js"></script>
<script src="../js/base.js"></script>
<script src="../js/sweetalert2.js"></script>
<script src="../js/template-web.js"></script>
<script src="../js/template.js"></script>
<script src="../js/left_slider.js"></script>
<script id="getPic" type="text/html">
        {{if message=="" || !message}}
        <img  src="../img/focus-img1.png">
        {{else}}
        <img  src="{{message}}" onerror="this.src='../img/focus-img1.png'"  >
        {{/if}}

</script>
<script id="userInfo" type="text/html">
    {{if avatar==null}}
    <img src="../img/focus-img1.png" alt="" onclick="location.href='./head.html'"/>
    {{else}}
    <img src="{{avatar}}" alt="" onerror="this.src='../img/focus-img1.png'" onclick="location.href='./head.html'"/>
    {{/if}}
    <div class="center">
        {{if userName==null }}
        <em>{{realName}}</em>
        {{else}}
        <em>{{userName}}</em>
        {{/if}}
        <span onclick="location.href='./simple_abstruct.html'">{{motto==""||motto==null?"此人很懒，暂时没有简介！":motto}}</span>
    </div>
</script>
<script id="business" type="text/html" >
    {{if list.length ==0}}
    <div class="no_pic">
        对不起，附近暂时没有商品
    </div>
    {{else}}
    {{each list as value i}}
    <div class="goods">
        <div class="top clearfix">
            {{if value.user.avatar=="null"}}
            <img src="../img/focus-img1.png" alt=""/>
            {{else}}
            <img src="{{value.user.avatar}}" alt=""/>
            {{/if}}
            <span>{{value.user.userName==null?value.user.realName:value.user.userName}}</span>
            <p>{{value.goods.address==null||value.goods.address=="位置"?"同城":value.goods.address}} | <em>{{time(value.goods.pushTime)}}来过</em></p>
        </div>
        <div class="center clearfix" onclick="location.href='./business_detail.html?goodsId={{value.goods.goodsId}}'">
            <em class="price">￥{{value.goods.price==null?"0":value.goods.price}}</em>
            <span>{{value.goods.introduction}}</span>
        </div>
        <div class="img_list">
            {{if value.goods.images.length==0}}
            {{else}}
            {{each value.goods.images as value j}}
            <img src="{{value.path}}" data-preview-src="" data-preview-group="{{i}}" alt=""/>
            {{/each}}
            {{/if}}

        </div>
        <div class="see">{{value.goods.lookNumbe}}</div>
    </div>
    {{/each}}
    {{/if}}
</script>
<script>
    mui.previewImage();
    (function($, doc) {
        $.init();
        $.plusReady(function() {
            var backButtonPress = 0;
            $.back = function(event) {
                backButtonPress++;
                if (backButtonPress > 1) {
                    plus.runtime.quit();
                } else {
                    plus.nativeUI.toast('再按一次退出应用');
                }
                setTimeout(function() {
                    backButtonPress = 0;
                }, 1000);
                return false;
            };
        });
    }(mui, document));
    //禁止 回退
    if (window.history && window.history.pushState) {
        $(window).on('popstate', function () {
            window.history.forward(1);
        });
    }
    //禁止 回退结束

    $(function(){
        //ajax 发送完毕
        $(document).ajaxStop(function(){
            $("#loading").hide();
        });
        //自动轮播
        mui.init({

            swipeBack:true //启用右滑关闭功能
        });
        var slider = mui("#slider");
        slider.slider({
            interval: 2000
        });
        // a链接问题
// 监听tap事件，解决 a标签 不能跳转页面问题
        mui('body').on('tap','a',function(){document.location.href=this.href;});


        //获取 头像信息
        getAvatar($("#show"));


    //获取所有的二手市场商品 调接口
        function render(){
            $.ajax({
                xhrFields: {
                    withCredentials: true
                },
                type: "post",
                url: baseUrl+"/goods/getAllOldGoods",
                dataType: 'json',
                success:function(data) {
                    console.log(data);
                    if(data.state==true){
                        template.helper("time",function(date){
                            var time=new Date(date).toLocaleString().replace(/:\d{1,2}$/,' ').substr(5,12).replace("/","-");
                            return time;
                           /* return new Date(parseInt(date) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');*/
                        });
                     //渲染
                        //console.log(data.list);
                        var html=template("business",data);
                        $(".market_news_list").html(html);
                    }
                    else{
                        sweetAlert(
                                'sorry',
                                '网络错误，请重新登录!',
                                'error'
                        ).then(function(){
                                    location.href='./login.html';
                                });

                        }

                }

            })
        }
        render();
        //侧边导航栏的用户信息展示
        userInfo($(".header"));
    })
</script>
</html>